@charset "utf-8";

/* 기본 세팅 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NPS';
    src: url(../font/NPSfont_regular.ttf);
}

@font-face {
    font-family: 'BOM';
    src: url(../font/BOMBARD_.ttf);
}

body {
    overflow-x: hidden;
}

ul,
li {
    list-style: none;
}

/* 모바일 */
.hamburger {
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 35%;
    right: 20px;
    display: none;
}

.hamburger.active {
    top: 42%;
}

.hamburger span {
    display: block;
    height: 6px;
    background-color: #fff;
    border-radius: 20px;
    transition: all.5s;
}

.hamburger span+span {
    margin-top: 6px;
}

/* 모바일 메뉴 */
.mobile-menu {
    position: fixed;
    top: 110px;
    left: 0;
    width: 100%;
    background-color: #313F4F;
    padding: 20px 0;
    display: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.mobile-nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-nav-item>a {
    display: block;
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.mobile-dropdown-menu {
    background-color: #2a3646;
    display: none;
}

.mobile-dropdown-item a {
    display: block;
    padding: 12px 30px;
    color: #ddd;
    font-size: 14px;
}

.mobile-dropdown-item a:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* 햄버거 버튼 애니메이션 */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, 3px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transform-origin: 0 0;
}

/* 모바일 배경 영역 */

.mobile-bg {
    position: relative;
    display: none;
    width: 100%;
    height: 20vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imges/main.gif') no-repeat;
    background-size: 100%;
    top: 110px;
}

/* 모바일 퀵 메뉴 영역 */

.mb_box {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.mb_quick_menu {
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 110px;
    width: 100vw;
    height: 350px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, .6);
}

.mb_quick_menu_nav {
    position: relative;
    display: flex;
    height: 50px;
    top: -50px;
    left: 0;
    cursor: pointer;
}

.mb_quick_menu_nav li.active {
    background-color: white;
    z-index: 2;
    transition: all 0.3s ease;
}

.mb_quick_menu_nav li.active a {
    color: #313F4F;
    font-weight: 800;
}

.mb_quick_menu_nav li:not(.active) {
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
}

.mb_quick_menu_nav li:not(.active) a {
    color: white;
    font-weight: 400;
}

.mb_box1 {
    position: relative;
    width: 25%;
    background-color: white;
    height: 50px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    z-index: 1;
}

.mb_box1 a {
    position: relative;
    color: #313F4F;
    text-decoration: none;
    font-weight: 800;
    top: 15px;
}

.mb_box2 {
    position: relative;
    width: 25%;
    background-color: rgba(0, 0, 0, .4);
    height: 50px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    z-index: -1;
}

.mb_box2 a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 400;
    top: 15px;
}

.mb_box3 {
    position: relative;
    width: 25%;
    background-color: rgba(0, 0, 0, .4);
    height: 50px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    z-index: -1;
}

.mb_box3 a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 400;
    top: 15px;
}

.mb_box4 {
    position: relative;
    width: 25%;
    background-color: rgba(0, 0, 0, .4);
    height: 50px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    z-index: -1;
}

.mb_box4 a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 400;
    top: 15px;
}

.mb_tab-content {
    display: none;
    padding: 40px;
}

.mb_tab-content.active {
    display: block;
}

.mb_reservation-search,
.mb_checkin-content {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    bottom: 35px;
}

.mb_schedule-content {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    bottom: 70px;
}

.mb_input-group {
    margin-bottom: 10px;
}

.mb_input-group label {
    display: block;
    margin-bottom: 8px;
}

.mb_input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.mb_search-btn,
.mb_checkin-btn {
    position: relative;
    top: 15px;
    left: calc(63%);
    background-color: #313F4F;
    color: white;
    border: none;
    width: 129px;
    height: 27px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    border: #313F4F;
    line-height: 2px;
}

.mb_schedule-btn {
    background-color: #313F4F;
    top: 15px;
    border: #313F4F;
    color: white;
    height: 27px;
    border-radius: 50px;
    width: 129px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    left: calc(63%);
    line-height: 2px;
}

.mb_search-btn:hover,
.mb_checkin-btn:hover,
.mb_schedule-btn:hover {
    background-color: #4e6e92;
    transition: 0.3s;
}

/* 왕복, 편도, 경유 */


.mb_tab-menu {
    display: flex;
    position: relative;
    bottom: 80px;
    right: 30px;
}

.mb_tab-item {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.mb_tab-item::after {
    content: '';
    position: relative;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #313F4F;
    transition: width ease;
}

input[type="radio"]:checked+.mb_tab-item {
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label::after {
    width: 100%;
    position: absolute;
    left: 25%;
}

.mb_tab-item p {
    text-decoration: none;
    font-size: 16px;
    color: #313F4F;
}

/* 날짜 */

.mb_toggle-text p {
    font-size: 12px;
}

.mb_toggle-date {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: 235px;
    bottom: 105px;
    background-color: #313F4F;
    border-radius: 30px;
    height: 20px;
    width: 130px;
}

.mb_toggle-checkbox {
    display: none;
}

.mb_toggle-label {
    position: relative;
    width: 30px;
    height: 50px;
    cursor: pointer;
}

.mb_toggle-label:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: white;
    top: 36.2%;
    left: 15%;
    transition: all 0.3s ease;
    opacity: 0;
    transform: scale(0);
}

.mb_toggle-checkbox:checked+.mb_toggle-label:before {
    opacity: 1;
    transform: scale(1);
}

.mb_toggle-text {
    color: white;
    position: relative;
    right: 10px;
    bottom: 2px;
}

/* 출발 */

.mb_input-group_1 {
    position: absolute;
    display: flex;
    bottom: 240px;
    left: 20px;
}

.mb_input-group_1 .mb_start-label {
    text-align: center;
    color: #313F4F;
}

.mb_input-group_1 .mb_start-input {
    border: none;
    border-bottom: 3px solid #313F4F;
    font-size: 20px;
    font-family: 'NPS';
    outline: none;
    transition: 0.3s;
    width: 20%;
}

.mb_input-group_1 .mb_start-input:focus {
    border-bottom-color: #313F4F;
    width: 20%;
}

.mb_input-group_1 .mb_start-input::placeholder {
    font-size: 20px;
    color: #313F4F;
    text-align: center;
}

/* 도착 */

.mb_input-group_2 {
    position: absolute;
    display: flex;
    bottom: 240px;
    left: 150px;
    z-index: 1;
}

.mb_input-group_2 .mb_start-label {
    color: #313F4F;
}

.mb_input-group_2 .mb_start-input {
    border: none;
    border-bottom: 3px solid #ddd;
    font-size: 20px;
    font-family: 'NPS';
    outline: none;
    transition: 0.3s;
    width: 20%;
}

.mb-input-group_2 .mb_start-input:focus {
    border-bottom-color: #313F4F;
    width: 20%;
}

.mb_input-group_2 .mb_start-input::placeholder {
    font-size: 20px;
    color: #ddd;
    text-align: center;
}

/* 탑승정보 */

.mb_input-group_3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 120px;
    left: 20px;
    width: 40%;
    z-index: 1;
}

.mb_custom-label {
    font-size: 16px;
    color: #333;
    position: relative;
    bottom: 20px;
}

.mb_custom-input {
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 1.1rem;
    outline: none;
    transition: 0.3s;
}

.mb_custom-input:focus {
    border-bottom-color: #313F4F;
    width: 100%;
}

.mb_custom-input::placeholder {
    /* font-size: 1rem; */
    color: #aaa;
}

.mb_input-group_4 {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 120px;
    left: 210px;
    width: 20%;
}

.mb_input-group_5 {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 120px;
    left: 320px;
    width: 20%;
}

/* 최저가, 검색 버튼 */

.mb_button {
    position: absolute;
    width: 270px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.mb_cyan {
    background-color: #33cccc;
    border-radius: 20px;
    border: #33cccc;
    width: 129px;
    height: 27px;
    color: white;
    font-size: 18px;
    line-height: 2px;
    cursor: pointer;
}

.mb_navy {
    background-color: #313F4F;
    border: #313F4F;
    border-radius: 20px;
    width: 129px;
    height: 27px;
    color: white;
    font-size: 18px;
    line-height: 2px;
    cursor: pointer;
}

.mb_navy:hover {
    background-color: #4e6e92;
    transition: 0.3s;
}

.mb_cyan:hover {
    background-color: #ddd;
    color: black;
    transition: 0.3s;
}

/* 출-도 버튼 */

.mb_bt_1 {
    background: url('../imges/mb_quick_button.png')no-repeat;
    width: 100px;
    height: 65px;
    position: relative;
    bottom: 70px;
    left: 50px;
}

@media (max-width:1440px) {
    .quick_menu {
        top: 930px !important;
        width: 1350px !important;
    }

    .toggle-date {
        transform: translateX(-80%);
    }

    .button {
        transform: translateX(-50%);
    }

    .input-group_4 {
        width: 30% !important;
    }

    .input-group_5 {
        width: 20% !important;
        left: 1130px !important;
    }

    .most {
        display: none !important;
    }

    .box {
        width: 1400px !important;
    }
}

@media (max-width: 1024px) {

    .most {
        display: none !important;
    }

    .nav-item {
        display: none;
    }

    .quick_menu {
        top: 930px !important;
        width: 1000px !important;
    }

    .toggle-date {
        transform: translateX(-265%);
    }

    .input-group_3 {
        width: 30% !important;
    }

    .input-group_4 {
        width: 20% !important;
        transform: translateX(-160%);
    }

    .input-group_5 {
        width: 20% !important;
        transform: translateX(-230%);
    }

    .button {
        transform: translateX(-200%);
    }
}

@media (max-width: 768px) {

    .bg_text {
        display: none;
    }

    .mb_quick_menu {
        display: block;
        left: 1px;
    }

    #mainHeader {
        width: 100vw !important;
    }

    .hamburger {
        display: block;
    }

    #mainHeader {
        background-color: #313F4F !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
        height: 110px !important;
    }

    #mainHeader h1 {
        top: 32% !important;
        right: 3%;
    }

    .nav-item {
        display: none;
    }

    #mainHeader .btn_menu {
        display: none;

    }

    #mainHeader::after {
        display: none;
    }

    .container>.bg {
        display: none;
    }

    .mobile-bg {
        display: block;
    }

    .quick_menu {
        display: none;
    }

    .mb_toggle-date {
        left: 70%;
    }

    .mb_input-group_4 {
        left: 49%;
    }

    .mb_input-group_5 {
        left: 73%;
    }
}

@media (max-width: 425px) {
    .mb_toggle-date {
        left: 68%;
    }

    .mb_input-group_4 {
        left: 49%;
    }

    .mb_input-group_5 {
        left: 73%;
    }

    /* .mb_box {
        position: absolute;
        bottom: 90%;
    } */
}

@media (max-width: 375px) {

    .mb_toggle-date {
        left: 60%;
    }

    .mb_input-group_4 {
        left: 50%;
    }

    .mb_input-group_5 {
        left: 75%;
    }

    .mb_box1 a {
        font-size: 14px;
    }

    .mb_box2 a {
        font-size: 14px;
    }

    .mb_box3 a {
        font-size: 14px;
    }

    .mb_box4 a {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .mb_toggle-text p {
        position: relative;
        font-size: 12px;
        top: 1px;
    }

    .mb_toggle-date {
        left: 55%;
    }

    .mb_bt_1 {
        left: 16%;
    }

    .mb_input-group_1 {
        left: 20px;
    }

    .mb_input-group_2 {
        left: 130px;
    }

    .mb_input-group_4 {
        left: 50%;
    }

    .mb_input-group_5 {
        left: 75%;
    }

    .mb_box {
        position: absolute;
        bottom: 83%;
    }

    .mb_box1 a {
        font-size: 14px;
    }

    .mb_box2 a {
        font-size: 14px;
    }

    .mb_box3 a {
        font-size: 14px;
    }

    .mb_box4 a {
        font-size: 14px;
    }
}

/* nav 영역 */

#mainHeader {
    position: fixed;
    width: 100vw;
    padding: 0;
    text-align: center;
    height: 110px;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* down 했을 때 변경 요소 */

#mainHeader.down h1 {
    top: 20%;
}

#mainHeader.down .nav {
    bottom: 20%;
}

#mainHeader.down .btn_menu {
    top: 25%;
}

#mainHeader.down {
    height: 80px;
    background-color: rgba(0, 0, 0, .6);
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
}

#mainHeader.down .dropdown-menu {
    top: 96px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
}

#mainHeader.down::after {
    opacity: 0;
}

#mainHeader.btn_menu .down {
    bottom: 50px;
}

/* nav 아래 실선 */

#mainHeader::after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 92%;
    height: 1px;
    background-color: white;
}

/* 로고 */

#mainHeader h1 {
    position: absolute;
    left: 3%;
    top: 32%;
    transition: all .5s;
    font-family: 'BOM';
    color: white;
    font-size: 32px;
    font-weight: 100;
}

#mainHeader p {
    font-size: 8px;
    font-family: 'BOM';
}

/* 네비게이션 */

#mainHeader .nav {
    display: inline-flex;
    z-index: 1;
    height: 100%;
    position: relative;
    bottom: 0;
    transition: all .5s;
}

#mainHeader>.nav>li>a:hover {
    color: #33cccc;
}

#mainHeader .nav-item>a {
    position: relative;
    top: 40px;
    padding: 26px 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

#mainHeader .nav>li {
    position: relative;
    margin: 0px 65px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    display: none;
    transition: all 0.3s ease;
}


.nav-item:hover .dropdown-menu {
    display: block;
    transition: all 0.3s ease;
}

.dropdown-item {
    padding: 20px 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.dropdown-item>a {
    color: white;
    text-decoration: none;
}

.dropdown-menu .dropdown-item:hover {
    background-color: white;
    cursor: pointer;
}

.dropdown-menu .dropdown-item:hover a {
    color: #33cccc;
}

/* 아이콘 */

#mainHeader .btn_menu {
    position: absolute;
    right: 90px;
    top: 40px;
    width: 37px;
    cursor: pointer;
    background: url('../imges/nav1.png')no-repeat;
    height: 50px;
    transition: all .5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 70px;
    right: -34px;
    background-color: #313F4F;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #33cccc;
}

.show {
    display: block;
}

/* 배경 */

.container .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 122vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imges/main.gif') no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg_text {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;
    padding: 0 7.5%;
}

.bg_text .kr {
    color: white;
    font-size: 65px;
    font-family: 'NPS';
    text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.6);
}

.bg_text .eng {
    color: white;
    font-size: 65px;
    font-family: 'BOM';
    font-weight: 400;
    text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.6);
}

/* 퀵 메뉴 최상단 */

.quick_menu {
    position: relative;
    height: 360px;
    width: 1500px;
    top: 1063px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 0 0 30px 30px;
    margin: 100px auto;
}

.quick_menu_nav {
    position: relative;
    display: flex;
    height: 100px;
    top: -75px;
    left: 0;
    cursor: pointer;
}

.quick_menu_nav li.active {
    background-color: white;
    z-index: 2;
    transition: all 0.3s ease;
}

.quick_menu_nav li.active a {
    color: #313F4F;
    font-weight: 800;
}

.quick_menu_nav li:not(.active) {
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
}

.quick_menu_nav li:not(.active) a {
    color: white;
    font-weight: 400;
}

.box1 {
    position: relative;
    width: 375px;
    background-color: white;
    height: 75px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    z-index: 1;
}

.box1 a {
    position: relative;
    color: #313F4F;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    top: 20px;
}

.box2 {
    position: relative;
    width: 375px;
    background-color: rgba(0, 0, 0, .4);
    height: 75px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    z-index: -1;
}

.box2 a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    top: 20px;
}

.box3 {
    position: relative;
    width: 375px;
    background-color: rgba(0, 0, 0, .4);
    height: 75px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    z-index: -1;
}

.box3 a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    top: 20px;
}

.box4 {
    position: relative;
    width: 375px;
    background-color: rgba(0, 0, 0, .4);
    height: 75px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    z-index: -1;
}

.box4 a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    top: 20px;
}

/* 퀵 메뉴 애니메이션 항목 */

.tab-content {
    display: none;
    padding: 40px;
}

.tab-content.active {
    display: block;
}

.reservation-search,
.checkin-content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    bottom: 100px;
}

.schedule-content {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    bottom: 120px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.search-btn,
.checkin-btn {
    position: relative;
    left: calc(82%);
    background-color: #313F4F;
    color: white;
    border: none;
    padding: 4px;
    width: 140px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    border: #313F4F;
}

.schedule-btn {
    background-color: #313F4F;
    border: #313F4F;
    color: white;
    padding: 2px;
    border-radius: 50px;
    width: 140px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    left: calc(37%);
}

.search-btn:hover,
.checkin-btn:hover,
.schedule-btn:hover {
    background-color: #4e6e92;
    transition: 0.3s;
}

/* 왕복, 편도, 경유 */


.tab-menu {
    display: flex;
    position: absolute;
    bottom: 280px;
    left: 10px;
}

.tab-item {
    padding: 10px 40px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.tab-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #313F4F;
    transition: width ease;
}

input[type="radio"]:checked+.tab-item {
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label::after {
    width: 50%;
    position: absolute;
    left: 25%;
}

.tab-item p {
    text-decoration: none;
    font-size: 24px;
    color: #313F4F;
}

/* 일반, 쿠폰 */

.toggle-container {
    display: flex;
    width: 200px;
    height: 40px;
    background-color: #33cccc;
    border-radius: 100px;
    color: white;
    overflow: hidden;
    position: relative;
    top: 100px;
    right: 340px;
}

.toggle-btn {
    flex: 1;
    text-align: center;
    padding: 1px;
    cursor: pointer;
    transition: all;
    border-radius: 100px;
    font-size: 24px;
}

#on:checked~.toggle-btn[for="on"] {
    background: #313F4F;
    color: white;
}

#off:checked~.toggle-btn[for="off"] {
    background: #313F4F;
    color: white;
}

/* 출-도 버튼 */

.bt_1 {
    background: url('../imges/quick_button.png')no-repeat;
    width: 100px;
    height: 65px;
    position: absolute;
    top: 180px;
    left: 150px;
}

/* 날짜 */

.toggle-date {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: 700px;
    top: 10px;
    background-color: #313F4F;
    border-radius: 30px;
    height: 35px;
    width: 195px;
}

.toggle-checkbox {
    display: none;

}

.toggle-label {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.toggle-label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    top: 15px;
    left: 10px;
    transition: all 0.3s ease;
    opacity: 0;
    transform: scale(0);
}

.toggle-checkbox:checked+.toggle-label:before {
    opacity: 1;
    transform: scale(1);
}

.toggle-text {
    /* font-size: 18px; */
    color: white;
    position: relative;
    right: 10px;
    bottom: 2px;
}

/* 출발 */

.input-group_1 {
    position: absolute;
    display: flex;
    top: 153px;
    left: 20px;
}

.input-group_1 .start-label {
    text-align: center;
    font-size: 35px;
    color: #313F4F;
}

.input-group_1 .start-input {
    border: none;
    border-bottom: 3px solid #313F4F;
    font-size: 35px;
    font-family: 'NPS';
    outline: none;
    transition: 0.3s;
    padding: 20px;
    width: 25%;
}

.input-group_1 .start-input:focus {
    border-bottom-color: #313F4F;
    width: 25%;
}

.input-group_1 .start-input::placeholder {
    font-size: 35px;
    color: #313F4F;
    text-align: center;
}

/* 도착 */

.input-group_2 {
    position: absolute;
    display: flex;
    top: 153px;
    left: 200px;
    z-index: 1;
}

.input-group_2 .start-label {
    font-size: 35px;
    color: #313F4F;
}

.input-group_2 .start-input {
    border: none;
    border-bottom: 3px solid #ddd;
    font-size: 35px;
    font-family: 'NPS';
    outline: none;
    transition: 0.3s;
    padding: 20px;
    width: 25%;
}

.input-group_2 .start-input:focus {
    border-bottom-color: #313F4F;
    width: 25%;
}

.input-group_2 .start-input::placeholder {
    font-size: 35px;
    color: #ddd;
    text-align: center;
}

/* 탑승정보 */

.input-group_3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    position: absolute;
    top: 125px;
    left: 350px;
    width: 60%;
    z-index: 1;
}

.custom-label {
    font-size: 30px;
    color: #333;
    position: relative;
    bottom: 20px;
}

.custom-input {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 8px 5px;
    font-size: 1.1rem;
    outline: none;
    transition: 0.3s;
}

.custom-input:focus {
    border-bottom-color: #313F4F;
    width: 100%;
}

.custom-input::placeholder {
    /* font-size: 1rem; */
    color: #aaa;
}

.input-group_4 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    position: absolute;
    top: 125px;
    left: 850px;
    width: 40%;
}

.input-group_5 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    position: absolute;
    top: 125px;
    left: 1200px;
    width: 30%;
}

/* 최저가, 검색 버튼 */

.button {
    position: absolute;
    display: flex;
    gap: 5px;
    top: 260px;
    left: 1180px;
}

.cyan {
    background-color: #33cccc;
    border-radius: 20px;
    border: #33cccc;
    width: 129px;
    height: 33px;
    color: white;
    font-size: 18px;
    line-height: 2px;
    cursor: pointer;
}

.navy {
    background-color: #313F4F;
    border: #313F4F;
    border-radius: 20px;
    width: 129px;
    height: 33px;
    color: white;
    font-size: 18px;
    line-height: 2px;
    cursor: pointer;
}

.navy:hover {
    background-color: #4e6e92;
    transition: 0.3s;
}

.cyan:hover {
    background-color: #ddd;
    color: black;
    transition: 0.3s;
}

/* 병합 수정 */

.bottom {
    position: absolute;
    top: 2000px;
    width: 100%;
}

/* 높낮이 수정 구간 */

.section0,
.section1,
.section2,
.section3,
.section4 {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.section1,
.section2,
.section3,
.section4,
footer {
    position: relative;
    top: 250px;
}

/* 메인 글자 */

h1,
p,
a {
    text-decoration: none;
    color: inherit;

}

section h1 {
    font-size: 70px;
    color: #33cccc;
}

section h1 span {
    font-weight: 400;
    color: black;
}

.section0 .ms1 h1 {
    position: absolute;
    top: -85px;
    right: 0%;
    z-index: 99;
    margin-bottom: 50px;

}

/* 메인 글자 여기까지 */




/* 첫번째 슬라이드 */

.box_1 {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    margin: 50px auto;
    background-color: #efefec;
}

.slider1,
.slider2,
.slider3 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    /* margin: 40px 50px; */
    gap: 16px;
}

.box_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin: 30px 30px; */
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.slider1 {
    right: 2%;
}

.slider2 {
    right: 30%;
}

.slider3 {
    right: 58%;
}


.slide {
    width: 100%;
    height: 650px;
    margin-bottom: 16px;

}

/* animation */

.slider1,
.slider2,
.slider3 {
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.slider1 {
    animation-name: slidedown;
}

.slider2 {
    animation-name: slideup;
}

.slider3 {
    animation-name: slidedown;
}


@keyframes slidedown {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideup {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}


@keyframes slidedown1 {
    0% {

        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

.most {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* The most popular trave */




/*메인 슬라이드2*/

.ms2 {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
}

.ms2 h1 {
    margin-bottom: 30px;
}


.swiper-button-next {
    position: absolute;
    top: 45%;
    right: 10%;
}

.swiper-button-prev {
    position: absolute;
    top: 45%;
    left: 10%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 70px;
    line-height: 1;
    color: #fff
}

.mainslide2 {
    width: 100%;
    height: 600px;
    position: relative;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
}

.mainslide2 .swiper-slide img {
    width: 50%;
    height: 600px;
    border-radius: 30px;
    object-fit: cover;

}


.mainslide2 .swiper-slide {
    /* transform: scaleX(0.5); */
    transition: all 0.5s ease;
    object-fit: cover;
    width: 900px;
    height: 600px;
    filter: brightness(0.5);


}

.mainslide2 .swiper-slide.swiper-slide-prev {
    text-align: right;
}

.mainslide2 .swiper-slide.swiper-slide-active {
    transform: scaleX(1);
    filter: brightness(1);
}

.mainslide2 .swiper-slide.swiper-slide-active img {
    width: 100%;
}

.swiper-slide.swiper-slide-active .tag {
    opacity: 1;
    pointer-events: auto;
    border-radius: 0 0 23px 23px;
    position: absolute;
    bottom: 0;
    left: 0;
}



.tag {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0px;
    left: 0%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    /* color: rgb(255, 255, 255); */
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 슬라이드2 가운데 글자 */
.tag-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 8px;
}

.row {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'NPS';
}

.krw {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-top: 15px;
}

.money {
    color: #33cccc;
    font-size: 45px;
    font-weight: 800;
}



/* 슬라이드2 가운데 글자 */

/* UOUOUUOUUOUOUOUOUO */

.section2 img,
.section3 img,
.section4 img {
    position: absolute;
    width: 100px;
}


/* 섹션2 */
.section2 {
    height: 1000px;
}

.section2 h1 {
    position: absolute;
    top: 0;
    right: 0;
}

.section2 .event img {
    width: 80%;
    border-radius: 30px;
    box-shadow: 3px 3px 10px gray;
}

.section2 .event img:nth-child(1) {
    top: 20%;
    right: 5%;
}

.section2 .event img:nth-child(2) {
    top: 60%;
    left: 5%;
}

.section2 .event img:hover {
    cursor: pointer;
}

/* 섹션3 공지사항 */

.section3 h1,
.section4 h1 {
    padding: 7% 0;
}

.notice {
    border: 1px solid white;
    padding: 5% 10%;
    width: 100%;
    margin: 0 auto 4% 0;
    border-radius: 30px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.notice-color {
    color: #33cccc;
}

.notice span {
    font-weight: 500;
}

.notice>img {
    top: 30%;
    left: 5%;
    width: 6%;
}

.notice a {
    padding: 0% 5%;
}

.notice a:hover {
    color: #33cccc;
}

.notice p {
    font-size: 1.5rem;
}

/* 섹션4 */
.section4 {
    padding-bottom: 10%;
}

.service-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.service-container .service {
    border: 1px solid white;
    border-radius: 40px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    width: 20%;
    padding: 3% 0;
    display: flex;
    justify-content: center;
    transition: all 0.2s;
    position: relative;
}

.service-container .service:hover {
    cursor: pointer;
    scale: 1.1;
}

.service img {
    position: absolute;
    width: 40%;
    top: 20%;
}

.service p {
    margin-top: 75%;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'NPS';
}

.service span {
    font-size: 2rem;
    color: #33cccc;
    font-family: 'NPS';
}

/* 푸터 */
footer {
    background-color: #313F4F;
    color: #b8b8b8;
    padding-top: 5%;
}

.footer-bg {
    display: block;
    background: url(../imges/footerbg.png) no-repeat 80%10%;
}

footer p {
    margin-bottom: 3%;
    font-size: 1.2rem;
}

.footer-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15%;
}

/* 푸터아이콘 */

footer .icon-sns {
    position: relative;
    display: flex;
    gap: 3%;
}

footer .copy {
    position: relative;
    left: 70%;
    width: 30%;
    padding-bottom: 30px;
}

footer .footer-logo {
    position: relative;
    margin: 0 auto;
    width: 20%;
    top: 10px;
    display: none;
}

.gotop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.gotop img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}



/* 반응형 */

/* 1650 */
@media screen and (max-width: 1650px) {

    .box_1 {
        height: 750px;
        display: flex;
        gap: 16px;
        min-height: 500px;
        padding: 20px 0;
    }


    .slider1,
    .slider2,
    .slider3 {
        margin: 0 auto;
        width: 200px;
        animation-iteration-count: infinite;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        /* animation-direction: alternate; */
    }

    .slider1 {
        position: absolute;
        right: 15%;
    }

    .slider2 {
        position: absolute;
        right: 47%;
    }

    .slider3 {
        position: absolute;
        right: 80%;
    }

    .slide {
        margin-bottom: 16px;
        height: auto;
    }

    .box_1 img {
        height: 480px;
        width: 350px;
        object-fit: cover;
        border-radius: 30px;
    }
}



/* 1024 */

@media screen and (max-width: 1024px) {

    .box_1 {
        height: 750px;
        display: flex;
        gap: 16px;
        min-height: 500px;
        padding: 20px 0;
    }


    .slider1,
    .slider3 {
        animation: slidedown 20s linear infinite forwards;
    }

    .slider2 {
        animation: slideup 20s linear infinite forwards;
    }

    .slider1 {
        position: absolute;
        right: 3%;
    }

    .slider2 {
        position: absolute;
        right: 25%;
    }

    .slider3 {
        position: absolute;
        right: 47%;
    }

    .slide {
        margin-bottom: 16px;
        height: auto;
    }

    .box_1 img {
        height: 280px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .most {
        display: none;
    }

    /* .section0 .ms1 h1 {
        position: relative;
        left: 20%;
        top: 20%;
    } */

    .mainslide2 {
        width: 100%;
        height: 400px;
        position: relative;
        margin: 0 auto;
        border-radius: 30px;
        overflow: hidden;
    }

    .mainslide2 .swiper-slide img {
        width: 50%;
        height: 400px;
        border-radius: 30px;
        object-fit: cover;
    }

    .city {
        font-size: 34px;
    }

    .krw {
        font-size: 20px;
    }

    .money {
        font-size: 30px;
    }


    .swiper-button-prev {
        position: absolute;
        font-size: 40px;
        top: 33%;
        left: 10%;
    }

    .swiper-button-next {
        position: absolute;
        font-size: 40px;
        top: 33%;
        right: 10%;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 40px;
    }

    .swiper-slide .tag {
        position: absolute;
        height: 20%;
        top: 46%;

    }

    .swiper-slide.swiper-slide-active .tag {
        border-radius: 0 0 20px 20px;
    }

    .tag-content {
        position: absolute;
        top: 5%;
    }
}

/* 768 */

@media screen and (max-width: 768px) {
    .bottom {
        top: 800px;
    }

    .box_1 {
        height: 750px;
        display: flex;
        gap: 16px;
        min-height: 500px;
        padding: 20px 0;
    }


    .slider1,
    .slider2,
    .slider3 {
        margin: 0 auto;
        width: 200px;
        animation-iteration-count: infinite;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        /* animation-direction: alternate; */
    }

    .slider1 {
        position: absolute;
        right: 3%;
    }

    .slider2 {
        position: absolute;
        right: 36%;
    }

    .slider3 {
        position: absolute;
        right: 70%;
    }

    .slide {
        margin-bottom: 16px;
        height: auto;
    }

    .box_1 img {
        height: 280px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .most {
        display: none;
    }

    section h1,
    section h1 span {
        font-size: 3.5rem;
        margin: 0 auto;
    }

    /* .section0 .ms1 h1 {
        position: relative;
        left: 7%;
        top: 20%;
    } */

    .mainslide2 {
        width: 100%;
        height: 400px;
        position: relative;
        margin: 0 auto;
        border-radius: 30px;
        overflow: hidden;
    }

    .mainslide2 .swiper-slide img {
        width: 50%;
        height: 400px;
        border-radius: 30px;
        object-fit: cover;
    }

    .city {
        font-size: 34px;
    }

    .krw {
        font-size: 20px;
    }

    .money {
        font-size: 30px;
    }


    .swiper-button-prev {
        position: absolute;
        font-size: 40px;
        top: 30%;
        left: 8%;
    }

    .swiper-button-next {
        position: absolute;
        font-size: 40px;
        top: 30%;
        right: 8%;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 40px;
    }

    .swiper-slide .tag {
        position: absolute;
        height: 20%;
        top: 46.9%;
    }

    .swiper-slide.swiper-slide-active .tag {
        border-radius: 0 0 35px 35px;
    }

    .tag-content {
        position: absolute;
        top: 10%;
    }
}


/* 500 */

@media screen and (max-width: 500px) {
    .bottom {
        top: 800px;
    }

    .box_1 {
        height: 750px;
        display: flex;
        gap: 16px;
        min-height: 500px;
        padding: 20px 0;
    }


    .slider1,
    .slider2,
    .slider3 {
        margin: 0 auto;
        width: 150px;
        animation-iteration-count: infinite;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        /* animation-direction: alternate; */
    }

    .slider1 {
        position: absolute;
        right: 3%;
    }

    .slider2 {
        position: absolute;
        right: 36%;
    }

    .slider3 {
        position: absolute;
        right: 70%;
    }

    .slide {
        margin-bottom: 16px;
        height: auto;
    }

    .box_1 img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .most {
        display: none;
    }

    section h1,
    section h1 span {
        font-size: 2.5rem;
        margin: 0 auto;
    }

    .mainslide2 {
        width: 100%;
        height: 400px;
        position: relative;
        margin: 0 auto;
        border-radius: 30px;
        overflow: hidden;
    }

    .mainslide2 .swiper-slide img {
        width: 50%;
        height: 400px;
        border-radius: 30px;
        object-fit: cover;
    }

    .city {
        font-size: 30px;
    }

    .krw {
        font-size: 15px;
    }

    .money {
        margin-top: 5px;
        font-size: 25px;
    }


    .swiper-button-prev {
        position: absolute;
        font-size: 40px;
        top: 30%;
        left: 8%;
    }

    .swiper-button-next {
        position: absolute;
        font-size: 40px;
        top: 30%;
        right: 8%;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 40px;
    }

    .swiper-slide .tag {
        position: absolute;
        height: 20%;
        top: 47.5%;
    }

    .swiper-slide.swiper-slide-active .tag {
        border-radius: 0 0 45px 45px;
    }

    .tag-content {
        position: absolute;
        top: 10%;
    }
}

/* 480 */

@media screen and (max-width: 480px) {
    .bottom {
        top: 800px;
    }

    .box_1 {
        height: 750px;
        display: flex;
        gap: 16px;
        min-height: 500px;
        padding: 20px 0;
    }


    .slider1,
    .slider2,
    .slider3 {
        margin: 0 auto;
        width: 140px;
        animation-iteration-count: infinite;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        /* animation-direction: alternate; */
    }

    .slider1 {
        position: absolute;
        right: 3%;
    }

    .slider2 {
        position: absolute;
        right: 36%;
    }

    .slider3 {
        position: absolute;
        right: 70%;
    }

    .slide {
        margin-bottom: 16px;
        height: auto;
    }

    .box_1 img {
        height: 240px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .most {
        display: none;
    }

    section h1,
    section h1 span {
        font-size: 2rem;
        margin: 0 auto;
    }

    .mainslide2 {
        width: 100%;
        height: 400px;
        position: relative;
        margin: 0 auto;
        border-radius: 30px;
        overflow: hidden;
    }

    .mainslide2 .swiper-slide img {
        width: 50%;
        height: 400px;
        border-radius: 30px;
        object-fit: cover;
    }

    .city {
        font-size: 30px;
    }

    .krw {
        font-size: 15px;
    }

    .money {
        margin-top: 5px;
        font-size: 25px;
    }


    .swiper-button-prev {
        position: absolute;
        font-size: 40px;
        top: 30%;
        left: 8%;
    }

    .swiper-button-next {
        position: absolute;
        font-size: 40px;
        top: 30%;
        right: 8%;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 40px;
    }

    .swiper-slide .tag {
        position: absolute;
        height: 20%;
        top: 47.5%;
    }

    .swiper-slide.swiper-slide-active .tag {
        border-radius: 0 0 45px 45px;
    }

    .tag-content {
        position: absolute;
        top: 10%;
    }
}

/* 425 */

/* 425 */

@media screen and (max-width: 425px) {
    .box_1 {
        height: 200px;
        display: flex;
        width: 100%;
        gap: 16px;
        min-height: 500px;
        padding: 20px 0;
    }


    .ms2 {
        height: 450px;
    }

    .slider1,
    .slider2,
    .slider3 {
        margin: 0 auto;
        width: 110px;
        animation-iteration-count: infinite;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        /* animation-direction: alternate; */
    }

    .slider1 {
        position: absolute;
        right: 4%;
    }

    .slider2 {
        position: absolute;
        right: 33%;
    }

    .slider3 {
        position: absolute;
        right: 62%;
    }

    .slide {
        margin-bottom: 16px;
        height: auto;
    }

    .box_1 img {
        height: 170px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .most {
        display: none;
    }


    section h1,
    section h1 span {
        font-size: 2rem;
        margin: 0 auto;
    }


    .section0 .ms1 h1 {
        position: relative;
        left: 7%;
        top: 20%;
    }

    .mainslide2 {
        width: 100%;
        height: 300px;
        position: relative;
        margin: 0 auto;
        border-radius: 30px;
        overflow: hidden;
    }

    .mainslide2 .swiper-slide img {
        width: 50%;
        height: 300px;
        border-radius: 30px;
        object-fit: cover;
    }

    .city {
        font-size: 25px;
    }

    .krw {
        font-size: 15px;
    }

    .money {
        margin-top: 6px;
        font-size: 20px;
    }


    .swiper-button-prev {
        position: absolute;
        top: 50%;
        left: 5%;
    }

    .swiper-button-next {
        position: absolute;
        top: 50%;
        right: 5%;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 30px;

    }

    .swiper-slide .tag {
        position: absolute;
        height: 20%;
        top: 30%;
        border-radius: 0 0 40px 40px;
    }

    .swiper-slide.swiper-slide-active .tag {
        border-radius: 0 0 30px 30px;
    }

    .tag-content {
        position: absolute;
        top: 15%;
    }
}

/* 375 */
@media screen and (max-width: 375px) {

    .box_1 {
        height: 390px;
        display: flex;
        width: 100%;
        gap: 16px;
        min-height: 500px;
        padding: 20px 0;
    }


    .slider1,
    .slider2,
    .slider3 {
        margin: 0 auto;
        width: 200px;
        animation-iteration-count: infinite;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        /* animation-direction: alternate; */
    }

    .slider1 {
        position: absolute;
        right: -30%;
    }

    .slider2 {
        position: absolute;
        right: 2.5%;
    }

    .slider3 {
        position: absolute;
        right: 35%;
    }

    .slide {
        margin-bottom: 16px;
        height: auto;
    }

    .box_1 img {
        height: 180px;
        width: 45%;
        object-fit: cover;
        border-radius: 30px;
    }

    .most {
        display: none;
    }

    section h1,
    section h1 span {
        font-size: 2rem;
        margin: 0 auto;
    }


    /* .section0 .ms1 h1 {
        position: relative;
        left: 7%;
        top: 20%;
    } */


    .mainslide2 {
        width: 100%;
        height: 200px;
        position: relative;
        margin: 0 auto;
        border-radius: 30px;
        overflow: hidden;
    }

    .mainslide2 .swiper-slide img {
        width: 100%;
        height: 200px;
        border-radius: 30px;
        object-fit: cover;
    }

    .city {
        margin-top: 5px;
        font-size: 20px;
    }

    .krw {
        font-size: 12px;
    }

    .money {
        margin-top: 5px;
        font-size: 20px;
    }


    .swiper-button-prev {
        position: absolute;
        font-size: 40px;
        top: 40%;
        left: 5%;
    }

    .swiper-button-next {
        position: absolute;
        font-size: 40px;
        top: 40%;
        right: 4%;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 50%;
    }

    .swiper-slide .tag {
        position: absolute;
        height: 20%;
        top: 13.25%;
        border-radius: 0 0 40px 40px;
    }

    .swiper-slide.swiper-slide-active .tag {
        border-radius: 0 0 30px 30px;
    }

    .tag-content {
        position: absolute;
        top: 25%;
    }
}

/* 325 */
@media screen and (max-width: 325px) {

    .box_1 {
        height: 390px;
        display: flex;
        width: 100%;
        gap: 16px;
        min-height: 500px;
        padding: 20px 0;
    }


    .slider1,
    .slider2,
    .slider3 {
        margin: 0 auto;
        width: 180px;
        animation-iteration-count: infinite;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        /* animation-direction: alternate; */
    }

    .slider1 {
        position: absolute;
        right: -40%;
    }

    .slider2 {
        position: absolute;
        right: -4%;
    }

    .slider3 {
        position: absolute;
        right: 32%;
    }

    .slide {
        margin-bottom: 16px;
        height: auto;
    }

    .box_1 img {
        height: 160px;
        width: 45%;
        object-fit: cover;
        border-radius: 30px;
    }

    .most {
        display: none;
    }

    section h1,
    section h1 span {
        font-size: 2rem;
        margin: 0 auto;
    }


    /* .section0 .ms1 h1 {
        position: relative;
        left: 7%;
        top: 20%;
    } */


    .mainslide2 {
        width: 100%;
        height: 200px;
        position: relative;
        margin: 0 auto;
        border-radius: 0 10px;
        overflow: hidden;
    }

    .mainslide2 .swiper-slide img {
        width: 100%;
        height: 200px;
        border-radius: 30px;
        object-fit: cover;
        display: flex;
        justify-content: space-around;
    }

    .city {
        margin-top: 5px;
        font-size: 18px;
    }

    .krw {
        font-size: 10px;
    }

    .money {
        margin-top: 10px;
        font-size: 15px;
    }


    .swiper-button-prev {
        position: absolute;
        font-size: 40px;
        top: 40%;
        left: 2%;
    }

    .swiper-button-next {
        position: absolute;
        font-size: 40px;
        top: 40%;
        right: 2%;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 50%;
    }

    .swiper-slide .tag {
        position: absolute;
        height: 15%;
        top: 18.25%;
    }

    .swiper-slide.swiper-slide-active .tag {
        border-radius: 0 0 30px 30px;
    }

    .tag-content {
        position: absolute;
        top: 8%;
    }
}


/* -----------uo반응형------------- */
/* 1055------------------------------------------------------------------------------------------------1055------------- */
@media (max-width : 1055px) {
    .section2 .event img {
        width: 100%;
        border-radius: 0px;
    }

    .section2 .event img:nth-child(1) {
        top: 25%;
        left: 0%;
    }

    .section2 .event img:nth-child(2) {
        top: 60%;
        left: 0%;
    }

    .notice p {
        font-size: 1.2rem;
        margin-left: 5%;
    }

    .service-container {
        flex-wrap: wrap;
    }

    .service-container .service {
        width: 40%;
        margin-bottom: 5%;
    }

    .service p {
        margin-top: 75%;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;
        font-family: 'NPS';
    }

    .service span {
        font-size: 2.5rem;
        color: #33cccc;
        font-family: 'NPS';
    }

    footer p {
        font-size: 1.5rem;
    }

    .footer-wrap {
        width: 50%;
        margin: 0 auto;
        flex-wrap: wrap;
        padding-top: 10%;
    }

    .footer-left {
        margin-bottom: 10%;
    }

    .footer-right {
        margin-bottom: 10%;
    }

    footer .copy {
        font-size: 1rem;
        left: 30%;
        width: 50%;
    }
}

/* 500----------------------------------------------------------------------------------500-------- */
@media (max-width : 500px) {
    .section2 {
        height: 300px;
    }

    .section2 .event img {
        width: 100%;
        border-radius: 10px;
        margin-top: 10%;
    }

    .section2 .event img:nth-child(2) {
        display: none;
    }


    /* 섹션3 공지사항 */
    .section3 {
        padding-bottom: 20%;
    }

    .notice>img {
        display: none;
    }

    .notice {
        flex-wrap: wrap;
    }

    .notice p {
        font-size: 0.7rem;
    }

    /* 섹션4 */
    .section4 {
        padding-bottom: 20%;
    }

    .service-container {
        flex-wrap: wrap;
    }

    .service-container .service {
        width: 48%;
        border-radius: 10px;
    }

    .service p {
        font-size: 0.6rem;
        margin-bottom: 10%;
    }

    .service span {
        font-size: 1rem;
    }

    /* 푸터 */

    footer p {
        margin-bottom: 3%;
        font-size: 0.7rem;
    }

    .footer-left {
        margin-bottom: 15%;
        padding: 0;
    }

    .footer-right {
        padding: 5% 0;
    }

    /* 푸터아이콘 */

    footer .icon-sns {
        margin-top: 5%;
        scale: 0.6;
    }

    footer .copy {
        font-size: 0.5rem;
        left: 30%;
    }

    footer .footer-logo {
        display: block;
    }
}